.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Curser{
  cursor: pointer;
}

table {
  width: 750px;
  border-top: 1px solid #000000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

th{
  border-bottom: 1px solid #444444;
  height: 40px;
}

th:first-child, td:first-child {
  border-left: none;
  width: 150px;
  text-align: center;
}

td:last-child {
  border-right: none;
  padding-left: 70px;
  color: black;
}

th {
  border-right: none;
  border-left: none;
}

td{
  border-bottom: 1px solid rgba(0, 0, 0, 0.291);
  border-right: 1px solid rgba(0, 0, 0, 0.291);
  height: 40px;
}